################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StocksApplication.Core/StocksApplication.Core.csproj
